.main {
  margin: auto;
  margin-top: 2em;
  font-size: 1.33em;
  max-width: 50ch;

  > * + * {
    margin-top: 1em;
  }
}

.general {
  font-size: 1.2em;

  > * + * {
    margin-top: 0.5rem;
  }
}

.values,
.details {
  display: grid;
  margin-bottom: 1em;

  @media (min-width: 600px) {
    column-gap: 2em;
    margin-bottom: 3em;
  }
}

.values {
  > section + section {
    margin-top: 1em;
  }

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;

    > section + section {
      margin-top: 0;
    }
  }
}

.details {
  @media (min-width: 600px) {
    grid-template-columns: 2fr 1fr;
  }
}

.box {
  padding-bottom: 1em;
  @media (min-width: 600px) {
    min-height: 10em;
  }
}

.heading {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1em;

  @media (max-width: 600px) {
    background: none !important;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.extra {
  @media (max-width: 600px) {
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1em;
  }

  p {
    @media (min-width: 600px) {
      margin-bottom: 2em;
    }

    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.highlight {
  text-transform: uppercase;
  color: #f24540;
}
